matplotlib==3.5.2
networkx==3.0
numpy==1.24.3
numpy==1.19.5
numpy==1.23.0
open3d==0.17.0
pyfqmr==0.1.2
pytorch3d==0.7.2
PyYAML==6.0
scikit_learn==1.2.1
setuptools==65.6.3
Shapely==1.8.5
sortedcollections==2.1.0
timm==0.4.5
torch==1.12.1
torch==2.3.0
tqdm==4.64.1
transformers==4.27.1
triangle==20220202
trimesh==3.20.2
vedo==2023.4.3
xformers==0.0.16
